<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Simplifique e Gerencie Suas Finanças - Bem-vindo ao JuraWallet, a Sua Central Financeira Pessoal | JuraWallet</title>
    <meta name="description" content="Bem-vindo ao JuraWallet, a sua central financeira pessoal. Visualize suas contas, orçamentos e transações de forma intuitiva. Planeje suas despesas, economize dinheiro e alcance a estabilidade financeira com facilidade. JuraWallet é o seu parceiro confiável para o sucesso financeiro.">
    <link rel="canonical" href="http://localhost:8080/home" />
    <link rel="icon" type="image/png" href="http://localhost:8080/assets/img/logo-jura-wallet2-nobg.png"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8080/css/menu.css">
    <link rel="stylesheet" href="http://localhost:8080/css/calculadora.css">
    <link rel="stylesheet" href="http://localhost:8080/css/uploadCSVFile.css">
</head>

<body id="body">
    <%- include('form/formExcluirTransacao') %>
    <%- include('form/formEditarTransacao') %>
    <%- include('components/header') %>

    <div>
        <main class="resumo container">
            <%- include('components/resumeCard') %>
            <%- include('components/uploadCsv') %>
            <%- include('components/cadastro') %>
            <%- include('components/transacoes') %>
        </main>
    </div>

    <%- include('components/calculadora') %>

    <script src="http://localhost:8080/js/transacoes.js"></script>
    <script src="http://localhost:8080/js/cadastrarTransacao.js"></script>
    <script src="http://localhost:8080/js/getDate.js"></script>
    <script src="http://localhost:8080/js/calculadora.js"></script>
    <script src="http://localhost:8080/js/uploadCSVFile.js"></script>
</body>

</html>